<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - Sponcer</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">


  </head>
  <body>
    <nav id="navbar" class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container d-flex justify-content-between">
        <div class="logo navbar-brand">
          <a class="text-decoration-none" href="{{ url_for('sponcer.dashboard', username=session['username']) }}"
            ><span class="fs-4">Sponcer Dashboard</span></a
          >
        </div>
        <div class="navlinks">
          <ul class="navbar-nav">
            {% block navlinks %}
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('sponcer.dashboard', username=username) }}">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('sponcer.campaigns', username=username) }}">Campaigns</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('sponcer.find', username=username) }}">Find</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('sponcer.statistics', username=username) }}">Statistics</a>
              </li>
            {% endblock navlinks %}
          </ul>
        </div>
        {% block authlinks %}
          {% if 'username' in session %}
          <div class="authlinks">
            <a class="btn btn-outline-primary" href="{{url_for('auth.logout')}}">Logout</a>
          </div>
          {% else %}
          <div class="authlinks">
            <a class="btn btn-outline-primary" href="{{url_for('home')}}">Join us</a>
          </div>
          {% endif %}
        {% endblock authlinks %}
      </div>
    </nav>

    {% block main %}
      
    {% endblock main %}

    <!-- store data from session -->
    {% if 'id' in session %}
    <div
    id="data" 
    data-id="{{session['id']}}"
    data-username="{{session['username']}}"
    data-usertype="{{session['usertype']}}"
    ></div>
    {% else %}
    <div
    id="data" 
    data-id="0"
    data-username="0"
    data-usertype="0"
    ></div>
    {% endif %}



    <!-- scripts section -->
    {% block scripts %}
      
    {% endblock scripts %}


    <!-- scripts section -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/sponcer.js') }}"></script>
    <!-- <script>
      var triggerEl = document.querySelector("#navId a");
      bootstrap.Tab.getInstance(triggerEl).show(); // Select tab by name
    </script> -->
  </body>
</html>
 