{% extends 'pages/sponcer/base.html' %}
{% from 'pages/sponcer/components/campaignComps.html' import createCampaignModal %}
{% from 'pages/sponcer/components/dashComps.html' import campaignBlock %}


{% block navlinks %}
<li class="nav-item">
  <a
    class="nav-link"
    href="{{ url_for('sponcer.dashboard', username=username) }}"
    >Profile</a
  >
</li>
<li class="nav-item">
  <a
    class="nav-link active"
    href="{{ url_for('sponcer.campaigns', username=username) }}"
    >Campaigns</a
  >
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('sponcer.find', username=username) }}"
    >Find</a
  >
</li>
<li class="nav-item">
  <a
    class="nav-link"
    href="{{ url_for('sponcer.statistics', username=username) }}"
    >Statistics</a
  >
</li>
{% endblock navlinks %}


{% block main %}
<div id="main" class="container">
  
<div id="add-campains" class="my-2 border border-primary" style="height: 250px;">
  <div>
    <h1 class="text-center my-5">
      Manage Compaigns
    </h1>
  </div>  

  <div id="create" class="d-flex justify-content-center">
    {{ createCampaignModal() }}
  </div>
</div>

<hr>

<div id="campaigns" class="my-3">
  <h1 class="text-center my-5">
    All Campaigns
  </h1>
  {{ campaignBlock(campaigns, username, update=True) }}
</div>


</div>



{% endblock main %}

<!-- adding campaigns script -->
{% block scripts %}
  <script src="{{ url_for('static', filename='js/sponcer.js') }}"></script>
{% endblock scripts %}