{% extends 'pages/sponcer/base.html' %}

{% block navlinks %}
<li class="nav-item">
  <a
    class="nav-link active"
    href="{{ url_for('sponcer.dashboard', username=username) }}"
    >Profile</a
  >
</li>
<li class="nav-item">
  <a
    class="nav-link"
    href="{{ url_for('sponcer.campaigns', username=username) }}"
    >Campaigns</a
  >
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('sponcer.find', username=username) }}"
    >Find</a
  >
</li>
<li class="nav-item">
  <a
    class="nav-link"
    href="{{ url_for('sponcer.statistics', username=username) }}"
    >Statistics</a
  >
</li>
{% endblock navlinks %}



{% block main %}
<div id="main" class="container-xl">
    <!-- profile -->
    <div id="profile" style="min-height: 300px;">
      <div class="text-center py-3">
        <span class="fst-italic">Member since {{ join_date or 'Aug 02, 2024'}}</span>
      </div>
      <div class="py-3 d-flex justify-content-between">
        <div class="mx-3">
          <h1>
            {{ name or 'Demo Name' }} 
          </h1>
          <h6>
            {{ username or 'Username' }}
          </h6>
        </div>
        <div class="text-center">
          <h6>Wallet <i class="bi bi-wallet2"></i></h6>
          <p>
            <span class="fs-1 fw-bold">{{balance or '1000'}}</span> <span class="fs-3 fst-italic">Rs.</span>
          </p>
        </div>
      </div>
      <hr>
      <div class="d-flex justify-content-between">
        <span class="d-block fs-5 mx-5">{{ website or 'website.com' }}</span>
        <span class="d-block fs-5 mx-5">{{ email or 'email@email.com'  }}</span>
      </div>
      <hr>
      <div class="d-flex justify-content-between my-3">
        <span class="d-block fs-5 mx-5">{{ comapny or 'Company is not known' }}</span>
        <span class="d-block fs-5 mx-5">{{ industry or 'Industry' }}</span>
      </div>
    </div>

    <div id="active-campaigns">
      <h2 class="my-4">Active Campaigns</h2>
      <div class="d-flex my-3 row column-gap-5 row-gap-3">

        <div class="card col-6" style="max-width: 18rem;">
          <img src="{{url_for('static', filename='images/svgs/camp-card.svg')}}" class="card-img-top" alt="camp-illustration" style="max-height:150px; margin: 20px 20px 20px 0;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      <!-- load more card -->
        <div class="card col-6" style="max-width: 18rem;">
          <div class="card-body">
            <p>showing only recent 5 Campaigns</p>
            <a href="#" class="btn btn-primary">Load More Campaigns</a>
          </div>
        </div>

      </div>
    </div>

    {% if 'username' in session %}
      
    <div id="ad-reqests">
      <h2 class="my-4">Ad - Requests</h2>
      <div class="d-flex my-3 row column-gap-5 row-gap-3">

        <div class="card col-6" style="max-width: 18rem;">
          <img src="{{url_for('static', filename='images/svgs/camp-card.svg')}}" class="card-img-top" alt="camp-illustration" style="max-height:150px; margin: 20px 20px 20px 0;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      <!-- load more card -->
        <div class="card col-6" style="max-width: 18rem;">
          <div class="card-body">
            <p>showing only recent 5 Campaigns</p>
            <a href="#" class="btn btn-primary">Load More Campaigns</a>
          </div>
        </div>

      </div>
    </div>

    {% endif %}

  </div>

{% endblock main %}