{% extends 'pages/sponcer/base.html' %} {% block navlinks %}
<li class="nav-item">
  <a
    class="nav-link"
    href="{{ url_for('sponcer.dashboard', username=username) }}"
    >Profile</a
  >
</li>
<li class="nav-item">
  <a
    class="nav-link"
    href="{{ url_for('sponcer.campaigns', username=username) }}"
    >Campaigns</a
  >
</li>
<li class="nav-item">
  <a class="nav-link active" href="{{ url_for('sponcer.find', username=username) }}"
    >Find</a
  >
</li>
<li class="nav-item">
  <a
    class="nav-link"
    href="{{ url_for('sponcer.statistics', username=username) }}"
    >Statistics</a
  >
</li>
{% endblock navlinks %}



{% block main %}
  <div id="main">
    <div id="find" class="mt-5">
      <h1 class="text-center">Search</h1>
      <div class="container mt-5 d-flex justify-content-center">
        <div class="input-group" style="max-width: 800px;">
            <div class="input-group-prepend py-1">
                <span class="input-group-text"><i class="bi bi-search"></i></span>
            </div>
            <input type="text" class="form-control py-1 mx-3" placeholder="Search for campaigns">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>


    
  </div>
{% endblock main %}